.header {
    height: 35vw;
    margin: 25px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header .contents {
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    left: 10%;
    bottom: 12%;
    animation: fadeIn 3s;
}

.contents h2 {
    font-size: 5vw;
    font-weight: bold;
    color: white;
}

.contents p {
    font-size: 1.5vw;
    color: white;
}

.contents button {
    padding: 1vw 2vw;
    font-size: 1.3vw;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

